<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  </head>
  <body>
   <h1><center>Notifications</center></h1>
   <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      table.redTable {
      border: 2px solid #607d8b;
      background-color: #EEE7DB;
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      }
      table.redTable td, table.redTable th {
      border: 1px solid #AAAAAA;
      padding: 3px 2px;
      }
      table.redTable tbody td {
      font-size: 13px;
      }
      table.redTable tr:nth-child(even) {
      background: #ffffff;
      }
      table.redTable thead {
      background: #607d8b;
      }
      table.redTable thead th {
      font-size: 19px;
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
      border-left: 2px solid #607d8b;
      }
      table.redTable thead th:first-child {
      border-left: none;
      }
      
      table.redTable tfoot {
      font-size: 13px;
      font-weight: bold;
      color: #FFFFFF;
      background: #607d8b;
      }
      table.redTable tfoot td {
      font-size: 13px;
      }
      table.redTable tfoot .links {
      text-align: right;
      }
      table.redTable tfoot .links a{
      display: inline-block;
      background: #FFFFFF;
      color: #607d8b;
      padding: 2px 8px;
      border-radius: 5px;
      }
      </style>
  </head>
  <body>
    
    <br>
    <br>
    <h3 class="p-3 mb-2 bg-success text-white" style = 'font-size: 30px;text-align:center;margin-bottom:0px;'>Information/Messages</h3>

{% if li%}
    <div class="container">
      <table class="table table-hover table-condensed table-striped table-bordered">
        <thead>
        <tr>
        <th>Student Name</th>
        
        <th>Book Name</th>
        
        <th>Issued</th>
        <th>Expiry Date</th>
        <th>Fine</th>
        <th>Action</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
        <td colspan="7">
        <div class="links"></div>
        </td>
        </tr>
        </tfoot>
        <tbody>
          {% for t in li %}
            <tr>
              <td>{{t.0}}</td>
              
              <td>{{t.2.name}}</td>
             
              <td>{{t.4}}</td>
              <td>{{t.5}}</td>
              <td>{{t.6}}</td>
              <td><a href="/delete_book/{{t.2.isbn}}/" class="btn btn-danger" onclick="return confirm('are sure you want to delete?')">Delete</a></td>
            </tr>
            {%endfor%}
        </tbody>
        </table>
    </div>
    {%else%}
     <h2> No Notifications/messages has received</h2>
    {%endif%}

    <br><br><br><br><br><br><br><br><br>
  {% include "library/footer.html" %}
  </body>
</html>

    

    

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    
  </body>
</html>